[submodule "monero"]
	path = monero
	url = https://github.com/monero-project/monero
[submodule "wownero"]
	path = wownero
	url = https://git.wownero.com/wownero/wownero
[submodule "external/polyseed"]
	path = external/polyseed
	url = https://github.com/tevador/polyseed
