[submodule "monero"]
	path = monero
	url = https://github.com/monero-project/monero
	branch = release-v0.18
	shallow = true
[submodule "wownero"]
	path = wownero
	url = https://codeberg.org/wownero/wownero
	shallow = true