name: Check if checksums are in sync
on: [push]
permissions:
  issues: write
  pull-requests: write
permissions:
  issues: write
  pull-requests: write
jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
      - uses: 8BitJonny/gh-get-current-pr@3.0.0
        id: PR
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: generate checksums
        run: |
          ./generate_checksum.sh
      - name: check if git tree is clean
        run: |
          if [ -z "$(git status --porcelain)" ]; then 
            exit 0
          else 
            exit 1
          fi
      - name: Create or update comment
        continue-on-error: true
        if: failure()
        uses: peter-evans/create-or-update-comment@v4
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            Invalid bindings found in monero.dart, make sure to run `./impls/monero.dart/update_bindings.sh`
            